<style>
  .app {
    height: 100vh;
  }
  h1 {
    margin: 0;
    padding: 10px;
  }
  .showDesigner {
    height: calc(100vh - 100px)
  }
</style>
<div class="app">
  <h1>{{title}}</h1>
  <div class="showDesigner">
    <!--si-seatsio-designer
      [config]="designerConfig()"
      *ngIf="shown"
    ></si-seatsio-designer-->

    <si-seatsio-seating-chart
      [config]="seatingChartConfig()"
      *ngIf="shown"
    ></si-seatsio-seating-chart>

    <!--<si-seatsio-event-manager
      [config]="eventManagerConfig()"
      *ngIf="shown"
    ></si-seatsio-event-manager>-->

    <!--si-seatsio-chart-manager
      [config]="chartManagerConfig()"
      *ngIf="shown"
    ></si-seatsio-chart-manager-->

  </div>
  <div>
    <button (click)="onToggle()">Toggle</button>
  </div>
</div>
