<style>
  .showDesigner {
    display: flex;
    height: 100vh;
  }
  .designer {
    flex-grow: 1;
    width: 100%;
  }
  .designer > iframe {
    flex-grow: 1;
  }
</style>
<h1>{{title}}</h1>
<div class="showDesigner">
  <!--<si-seatsio-designer
    class="designer"
    [config]="designerConfig()"
    *ngIf="shown"
  ></si-seatsio-designer>-->

  <si-seatsio-seating-chart
    class="designer"
    [config]="seatingChartConfig()"
    *ngIf="shown"
  ></si-seatsio-seating-chart>

  <!--<si-seatsio-event-manager
    class="designer"
    [config]="eventManagerConfig()"
    *ngIf="shown"
  ></si-seatsio-event-manager>-->

  <!--si-seatsio-chart-manager
    class="designer"
    [config]="chartManagerConfig()"
    *ngIf="shown"
  ></si-seatsio-chart-manager-->

</div>

<button (click)="onToggle()">Toggle</button>
