<style>
  .showDesigner {
    display: flex;
    height: 100vh;
  }
  .designer {
    flex-grow: 1;
    width: 100%;
  }
  .designer > iframe {
    flex-grow: 1;
  }
</style>
<h1>{{title}}</h1>
<div class="showDesigner">
  <!--<si-seatsio-designer
    class="designer"
    designerKey="demoDesignerKey"
    chartJsUrl="https://cdn-staging.seatsio.net/chart.js"
  ></si-seatsio-designer>-->

  <si-seatsio-seating-chart
    class="designer"
    [config]="seatingChartConfig"
  ></si-seatsio-seating-chart>

  <!--<si-seatsio-event-manager
    class="designer"
    [config]="eventManagerConfig"
  ></si-seatsio-event-manager>-->
</div>
